{% extends 'posts/post_base.html' %}
{% block post %}
	<div class="container">
		<div class="jumbotron colored-jumbotron">
			{% if  user.is_authenticated %}
			<h1 class="page-title">Hello, {{user.username}}!</h1>
			{% endif %}
			<h2 class="page-title">Recipe list:</h2>
			{% if user.is_authenticated %}
			<a href="{% url 'posts:new_post' %}" class="btn btn-large create">Create new recipe</a>
			{% else %}
			<a href="{% url 'accounts:login' %}" class="btn btn-large create">Log in to add recipes</a>
			<a href="{% url 'accounts:signup' %}" class="btn btn-large create">New user? Sign up</a>

			{% endif %}	
			<ul class="post-list list-group">
			{% for post in post_list %}
				<li class="list-group-item">
					<div class="post">
						<div class="post-item">
							<h2 class="post-title">
							<a href="{% url 'posts:post_detail' pk=post.pk %}">{{post.title}}</a>
							</h2>
						</div>
						<div class="post-item">
							<div> likes: {{post.points}}</div>
							<p>by {{post.user}}</p>
						</div>	
					</div>
				</li>
			{% endfor %}
		</ul>	
		</div>
		
	</div>
{% endblock %}